<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/logins.css' %}">
</head>
<body>
<div class="background_image" style="background-image:url({% static 'images/why.jpg' %})"></div>
<div class="login-box">
    <h1>WELCOME TO TRAVELLING WEBSITE</h1>


    <button class="btn"><a href="login">login</a></button>



<!--
welcome to traveling site
<a href="login">login</a>
</body>
</html>
<-->
</div>
</body>
</html>
