<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/logins.css' %}">
</head>
<body>
<div class="background_image" style="background-image:url({% static 'images/logs.jpg' %})"></div>
<div class="login-box">
    <h1>Login</h1>
    <form action="login" method="POST">
        {% csrf_token %}
    <div class="textbox">
    <i class="fa fa-user" aria-hidden="true"></i>
    <input type="text" placeholder="username" name="username" value="">
    </div>

    <div class="textbox">
    <i class="fa fa-lock" aria-hidden="true"></i>
    <input type="password" name="password1" placeholder="password" value="">
    </div>

    <input class="btn" type="submit" name="" value="login">
     No account yet?  <a href="register">register</a>
    </form>
</div>
<div>
    {% for message in messages %}
    <h3>{{messages}}</h3>
    {% endfor %}

</div>

</body>
</html>